# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
congenial-disco

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
golint.log

# Dependency directories (remove the comment below to include it)
# vendor/

# Different files and folders
.idea
.devcontainer
TODO
client.go